<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, nulla
    voluptates! Rem amet possimus ut numquam ex atque non, quia corrupti ipsam
    aliquid beatae quos est. Iusto itaque quam ea quia voluptas consectetur
    nulla a, dignissimos saepe excepturi libero error quibusdam nam mollitia
    veniam, dolor quas voluptatibus. Error vero ullam eligendi provident dicta
    pariatur consequatur delectus mollitia quasi inventore facilis nobis maiores
    repellat, alias magnam aperiam! Eum, tenetur! Asperiores cumque omnis
    obcaecati id nulla tenetur dolorum non quae consequatur placeat.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione possimus
    quia magnam earum dolorem, voluptatem aut vero incidunt illo culpa iusto in
    eum, velit qui suscipit inventore quae doloremque libero optio? Dignissimos
    accusamus ad tenetur sapiente obcaecati dolor, ipsum est explicabo magnam
    sint perspiciatis provident inventore eum fuga officiis libero totam,
    repellendus illo qui dolore neque quidem aperiam repellat! Doloribus!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione possimus
    quia magnam earum dolorem, voluptatem aut vero incidunt illo culpa iusto in
    eum, velit qui suscipit inventore quae doloremque libero optio? Dignissimos
    accusamus ad tenetur sapiente obcaecati dolor, ipsum est explicabo magnam
    sint perspiciatis provident inventore eum fuga officiis libero totam,
    repellendus illo qui dolore neque quidem aperiam repellat! Doloribus!
</p>

post::create([ 'title' => 'judul ke 4', 'category_id' => 1, 'slug' =>
'judul-ke-4', 'excerpt' => 'Lorem ipsum dolor sit amet consectetur adipisicing
elit. Ratione possimus quia magnam earum dolorem, voluptatem aut vero incidunt
illo culpa iusto in eum', 'body' => '
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, nulla
    voluptates! Rem amet possimus ut numquam ex atque non, quia corrupti ipsam
    aliquid beatae quos est. Iusto itaque quam ea quia voluptas consectetur
    nulla a, dignissimos saepe excepturi libero error quibusdam nam mollitia
    veniam, dolor quas voluptatibus. Error vero ullam eligendi provident dicta
    pariatur consequatur delectus mollitia quasi inventore facilis nobis maiores
    repellat, alias magnam aperiam! Eum, tenetur! Asperiores cumque omnis
    obcaecati id nulla tenetur dolorum non quae consequatur placeat.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione possimus
    quia magnam earum dolorem, voluptatem aut vero incidunt illo culpa iusto in
    eum, velit qui suscipit inventore quae doloremque libero optio? Dignissimos
    accusamus ad tenetur sapiente obcaecati dolor, ipsum est explicabo magnam
    sint perspiciatis provident inventore eum fuga officiis libero totam,
    repellendus illo qui dolore neque quidem aperiam repellat! Doloribus!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione possimus
    quia magnam earum dolorem, voluptatem aut vero incidunt illo culpa iusto in
    eum, velit qui suscipit inventore quae doloremque libero optio? Dignissimos
    accusamus ad tenetur sapiente obcaecati dolor, ipsum est explicabo magnam
    sint perspiciatis provident inventore eum fuga officiis libero totam,
    repellendus illo qui dolore neque quidem aperiam repellat! Doloribus!
</p>
' ]) Category::create([ 'name'=> 'Wild', 'slug'=> 'wild' ])
